@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Pro vyzkoušení můžete použít tyto účty</p>
<p>účet studenta : login: Jan heslo:Abcd1234.</p>
<p>účet učitele : login: Fyzik heslo:Abcd1234.</p>