@using SchoolWebApp.DTO
@model StudentDTO
<form asp-action="Update">
    <div class="form-group">
        <label asp-for="@Model.FirstName"></label>
        <input type="text" asp-for="@Model.FirstName" class="form-control"/>

        <label asp-for="LastName"></label>
        <input type="text" asp-for="LastName" class="form-control" />

        <label asp-for="DateOfBirth"></label>
        <input type="date" asp-for="DateOfBirth" class="form-control" />
    </div>
    <input type="submit" class="btn btn-success" value="Update"/>
</form>